$fontSize:2rem;
$justifyContent:center;
$display:inline-block;
$mainimgheight:420px;
$background-color:#dc3545;
$fontStyle:italic;
$height:30%;
$color:white;
$contentimgheight:300px;
$contentimgwidth:450px;





