@import "../node_modules/bootstrap/scss/bootstrap";
@import "./_variables.scss";

body{
    background-image: none;
    margin: 0px;
    
}
a{
    color:$color
}
#middlelink:hover {
    color: red;

}

nav{
    font-size: $fontSize - 0.5rem;
    height: 60px;
}

#homelink{
    
    text-decoration: none;
    color:red
    
}
ol{
    margin: 0px;
}

img {
    height: $contentimgheight;
    width: $contentimgwidth;
}